<div class="container">
  <div class="row pt-4">
    <div class="col-8 mx-auto border shadow text-center ">
      <div class="row">
        <div class="col pt-4">
          <h3>Angualr File upload </h3>
        </div>
      </div>
      <div class="row">
        <div class="col m-2 p-2 text-center">
          <img class="image border shadow m-2 p-2" src="{{defaultImage}}" (click)="fileinput.click()">
          <input type="file" #fileinput style="display: none" (change)="fileInputChange($event)">
          <p class="font-weight-light">
            Click to select a file
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col m-2 p-2">
          <button class="btn btn-primary" (click)="upload()" [disabled]="!selectedFile">
            Upload
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto p-1 m-1 text-center ">
          <div class="alert alert-primary" role="alert" *ngIf="msg">
            {{msg}}
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-8 mx-auto" >
      <div class="row">
        <div class="col-3 m-3" *ngFor="let image of files">
          <div class="card" style="width: 12rem;">
            <img src="http://localhost:3000/file/{{image}}" class="card-img-top" alt="...">
            <div class="card-body border-top">
              <h5 class="card-title">{{image}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
